<launch>
    <node type="laser_scan_assembler" pkg="laser_assembler" name="esher_scan_assembler" output="screen">
        <remap from="scan" to="/laser/scan"/>
        <param name="max_scans" type="int" value="400" />
        <param name="fixed_frame" type="string" value="base_link" />
    </node>

    <include file="$(find surface_extraction)/launch/surface_extraction.launch" />

    <!-- Snapshotter -->
    <node pkg="nodelet" type="nodelet" name="snapshot" args="load surface_filters/PeriodicSnapshotter /surface_extraction/nodelet_manager">
        <!-- Topics -->
        <remap from="~assembled_cloud" to="/assembled_cloud" />
    </node>
</launch>
