<launch>
    <arg name="input_topic" />
    <arg name="new_indices" />
    <arg name="surfaces_manager_node" />
    <arg name="point_accumulator_node" />

    <!-- Remap outputs back to the main launch file (has to happen at the beginning) -->
    <remap from="expand_surfaces/expanded_segments" to="$(arg surfaces_manager_node)/update_surface" />
    <remap from="expand_surfaces/remaining_indices" to="$(arg point_accumulator_node)/indices" />
    <remap from="$(arg input_topic)" to="$(arg point_accumulator_node)/indexed_input" />


    <!-- Extract new points for visualization only -->
    <node pkg="nodelet" type="nodelet" name="publish_new" args="load pcl/ExtractIndices nodelet_manager">
    <!-- Topics -->
        <remap from="~input" to="$(arg input_topic)" />
        <remap from="~indices" to="$(arg new_indices)" />

        <!-- Params -->
        <param name="use_indices" value="true" />
    </node>

    <!--Expand Surfaces -->
    <node pkg="nodelet" type="nodelet" name="expand_surfaces" args="load surface_filters/ExpandSurfaces nodelet_manager">
        <!-- Topics -->
        <remap from="~input" to="$(arg input_topic)" />
        <remap from="~indices" to="$(arg new_indices)" />
        <remap from="~surfaces" to="$(arg surfaces_manager_node)/surfaces" />

        <remap from="~expanded_segments" to="updated_surface_segment" />
        <remap from="~remaining_indices" to="new_points_indices" />

        <!-- Params -->
        <remap from="~parallel_distance_threshold" to="parallel_distance_threshold" />
        <remap from="~perpendicular_distance_threshold" to="expansion_distance_threshold" />
    </node>

    <!-- Extract new points for visualization only -->
    <node pkg="nodelet" type="nodelet" name="publish_filtered" args="load pcl/ExtractIndices nodelet_manager">
        <!-- Topics -->
        <remap from="~input" to="$(arg input_topic)" />
        <remap from="~indices" to="expand_surfaces/filtered_indices" />

        <!-- Params -->
        <param name="use_indices" value="true" />
    </node>

    <!-- Extract removed points for visualization only -->
    <node pkg="nodelet" type="nodelet" name="publish_removed" args="load pcl/ExtractIndices nodelet_manager">
        <!-- Topics -->
        <remap from="~input" to="$(arg input_topic)" />
        <remap from="~indices" to="expand_surfaces/removed_indices" />

        <!-- Params -->
        <param name="use_indices" value="true" />
    </node>
</launch>