<launch>
    <arg name="input_topic" />
    <arg name="new_indices" />
    <arg name="surfaces_manager_node" />

    <!--Expand Surfaces -->
    <node pkg="nodelet" type="nodelet" name="expand_surfaces" args="load surface_filters/ExpandSurfaces nodelet_manager">
        <!-- Topics -->
        <remap from="~input" to="$(arg input_topic)" />
        <remap from="~indices" to="$(arg new_indices)" />
        <remap from="~surfaces" to="$(arg surfaces_manager_node)/surfaces" />
    </node>


</launch>