<launch>
    <arg name="input_topic" />
    <arg name="surfaces_manager_node" />

    <!-- Remove outliers -->
    <node pkg="nodelet" type="nodelet" name="outlier_removal" args="load pcl/StatisticalOutlierRemoval nodelet_manager">
        <!-- Topics -->
        <remap from="~input" to="$(arg input_topic)" />
    </node>

    <!-- Smoothing and Normals Estimation -->
    <node pkg="nodelet" type="nodelet" name="normals_estimation" args="load surface_filters/MovingLeastSquaresNodelet nodelet_manager">
        <!-- Topics -->
        <remap from="~input" to="outlier_removal/output" />

        <!-- Params -->
        <param name="use_polynomial_fit" value="false" />
        <param name="compute_normals" value="true" />
        <!-- Sets the type of spatial locator. 1 is FLANN, which seems to be the best kd-tree implementation
            https://github.com/ros-perception/perception_pcl/blob/1.3.0/pcl_ros/include/pcl_ros/surface/moving_least_squares.h#L98 -->
        <param name="spatial_locator" value="1" />
    </node>

    <!-- Region Growing Segmentation -->
    <node pkg="nodelet" type="nodelet" name="region_segmentation" args="load surface_filters/RegionGrowingSegmentation nodelet_manager">
        <!-- Topics -->
        <remap from="~input" to="normals_estimation/output" />
        <remap from="~normals" to="normals_estimation/normals" />

        <!-- Params -->
        <!-- Sets the type of spatial locator. 1 is FLANN, which seems to be the best kd-tree implementation
            https://github.com/ros-perception/perception_pcl/blob/1.3.0/pcl_ros/include/pcl_ros/surface/moving_least_squares.h#L98 -->
        <param name="spatial_locator" value="1" />
    </node>

    <!-- RANSAC -->
    <node pkg="nodelet" type="nodelet" name="sac_segmentation" args="load surface_filters/SACSegmentAndFit nodelet_manager">
        <!-- Input Topics -->
        <remap from="~input" to="normals_estimation/output" />
        <remap from="~normals" to="normals_estimation/normals" />
        <remap from="~clusters" to="region_segmentation/clusters" />

        <!-- Params -->
        <!-- Sets the type of spatial locator. 1 is FLANN, which seems to be the best kd-tree implementation
            https://github.com/ros-perception/perception_pcl/blob/1.3.0/pcl_ros/include/pcl_ros/surface/moving_least_squares.h#L98 -->
        <param name="spatial_locator" value="1" />
        <param name="approximate_sync" value="true" />
        <remap from="~distance_threshold" to="perpendicular_distance_threshold" />
        <remap from="~cluster_tolerance" to="parallel_distance_threshold" />

        <!-- This nodelet publishes lots of near-simultaneous messages -->
        <param name="max_queue_size" value="1000" />
    </node>
</launch>