<launch>
    <arg name="cloud_only" default="false" />
    <arg name="period" default="1" />

    <arg name="gdb" default="false" />
    <arg name="valgrind" default="false" />
    <arg name="cachegrind" default="false" />


    <!-- Static transform from world frame to point cloud frame -->
    <node pkg="tf" type="static_transform_publisher" name="tf_broadcaster" args="0 0 1.1  0 -0.05 1.6 /world /base_link 100">
        <remap from="cloud_pcd" to="input_cloud" />
    </node>
    <!-- Pointcloud publisher -->
    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="input_publisher" args="$(find surface_extraction_launch)/data/shadwell_demo_area_binary.pcd $(arg period)" />

    <include unless="$(arg cloud_only)" file="$(find surface_extraction_launch)/launch/surface_extraction.launch">
        <arg name="topic_name" value="/cloud_pcd" />

        <arg name="gdb" value="$(arg gdb)" />
        <arg name="valgrind" value="$(arg valgrind)" />
        <arg name="cachegrind" value="$(arg cachegrind)" />

    </include>
</launch>
