<launch>
    <arg name="topic_name" default="/onboard_worldmodel/pointcloud_vis" />

    <group ns="surface_extraction">
        <env name="ROSCONSOLE_CONFIG_FILE" value="$(find surface_extraction_launch)/custom_rosconsole.conf"/>

        <!-- Load parameters -->
        <rosparam command="load" file="$(find surface_extraction_launch)/params.yaml" />

        <!-- Nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" required="true" output="screen" />

        <!-- SurfaceManager -->
        <node pkg="nodelet" type="nodelet" name="surface_manager" args="load surface_manager/SurfaceManager nodelet_manager">
            <!-- Topics -->
            <!-- TODO: Do this remapping inside extract_surfaces_full for separation of concerns -->
            <remap from="~new_surface_inliers" to="sac_segmentation/inliers" />
            <remap from="~new_surface_plane" to="sac_segmentation/planes" />
            <remap from="~new_surface_concave_hull" to="concave_hull/output" />

            <!-- Params -->
            <param name="max_queue_size" value="1000" />
        </node>

        <!-- Crop -->
        <node pkg="nodelet" type="nodelet" name="crop" args="load pcl/CropBox nodelet_manager">
            <!-- Topics -->
            <remap from="~input" to="$(arg topic_name)" />

            <!-- Params -->
            <remap from="~min_x" to="crop_box_min/x" />
            <remap from="~min_y" to="crop_box_min/y" />
            <remap from="~min_z" to="crop_box_min/z" />
            <remap from="~max_x" to="crop_box_max/x" />
            <remap from="~max_y" to="crop_box_max/y" />
            <remap from="~max_z" to="crop_box_max/z" />
        </node>

        <!-- Downsample -->
        <node pkg="nodelet" type="nodelet" name="downsample" args="load pcl/VoxelGrid nodelet_manager">
            <!-- Topics -->
            <remap from="~input" to="downsample/output" />

            <!-- Params -->
            <remap from="~leaf_size" to="downsample_resolution" />
            <param name="filter_field_name" value="" />
        </node>

        <!-- Change Detection -->
        <node pkg="nodelet" type="nodelet" name="change_detect" args="load surface_filters/ChangeDetection nodelet_manager">
            <!-- Topics -->
            <remap from="~input" to="crop/output" />

            <!-- Params -->
            <remap from="~resolution" to="downsample_resolution" />
        </node>

        <!-- Full-Scene Pipeline -->
        <include file="$(find surface_extraction_launch)/launch/extract_surfaces_full.launch">
            <arg name="input_topic" value="change_detect/new_scene" />
            <arg name="surfaces_manager_node" value="surface_manager" />
        </include>

        <!-- Extract new points for input to partial-scene pipeline -->
        <node pkg="nodelet" type="nodelet" name="publish_new" args="load pcl/ExtractIndices nodelet_manager">
            <!-- Topics -->
            <remap from="~input" to="change_detect/output" />
            <remap from="~indices" to="change_detect/new_indices" />

            <!-- Params -->
            <param name="use_indices" value="true" />
        </node>

        <!-- Partial-Scene Pipeline -->
        <include file="$(find surface_extraction_launch)/launch/extract_surfaces_partial.launch">
            <arg name="input_topic" value="publish_new/output" />
            <arg name="surfaces_manager_node" value="__PLACEHOLDER__" />
        </include>

    </group>
</launch>
