<launch>
    <arg name="topic_name" default="/onboard_worldmodel/pointcloud_vis" />

    <arg name="gdb" default="false" />
    <arg name="valgrind" default="false" />
    <arg name="cachegrind" default="false" />
    <arg name="no_manager" default="false" />

    <group ns="surface_extraction">
        <env name="ROSCONSOLE_CONFIG_FILE" value="$(find surface_extraction_launch)/custom_rosconsole.conf"/>

        <!-- Load parameters -->
        <rosparam command="load" file="$(find surface_extraction_launch)/params.yaml" />

        <!-- Nodelet manager -->
        <node if="$(arg gdb)" pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" required="true"
              output="screen" launch-prefix="xterm -e gdb --args" />

        <!--Nodelet manager -->
        <node if="$(arg valgrind)" pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" required="true"
              output="screen" launch-prefix="valgrind --track-origins=yes" />

        <!-- Nodelet manager -->
        <node if="$(arg cachegrind)" pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" required="true"
              output="screen" launch-prefix="operf " />

        <!-- Nodelet manager -->
        <group unless="$(arg gdb)">
            <group unless="$(arg valgrind)">
                <group unless="$(arg cachegrind)">
                    <node unless="$(arg no_manager)" pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"
                          required="true" output="screen" />
                    <!--<node pkg="nodelet" type="nodelet" name="nodelet_manager_valgrind" args="manager" required="true"-->
                          <!--output="screen" launch-prefix="valgrind &#45;&#45;track-origins=yes" />-->

                </group>
            </group>
        </group>

        <!-- SurfaceBuilder -->
        <node pkg="nodelet" type="nodelet" name="surface_builder" args="load surface_filters/BuildSurface nodelet_manager">
            <!--<remap from="~new_surface" to="new_surface" />-->
            <!--<remap from="~new_surface_mesh" to="new_surface_mesh" />-->
            <!--<remap from="~updated_surface" to="updated_surface" />-->
            <!--<remap from="~updated_surface_mesh" to="updated_surface_mesh" />-->

            <remap from="~create_surface" to="new_surface_segment" />
            <remap from="~update_surface" to="updated_surface_segment" />

            <!-- Params -->
            <param name="dimension" value="2" />
            <!--<param name="alpha" value="0.25" />-->
            <remap from="~alpha" to="parallel_distance_threshold" />
            <remap from="~target_frame" to="target_frame" />

            <!-- This nodelet receives and publishes lots of near-simultaneous messages -->
            <param name="max_queue_size" value="1000" />
        </node>

        <!-- SurfaceManager -->
        <node pkg="nodelet" type="nodelet" name="surface_manager" args="load surface_manager/SurfaceManager nodelet_manager">
            <!-- Topics -->
            <remap from="~add_surface" to="surface_builder/new_surface" />
            <remap from="~add_surface_mesh" to="surface_builder/new_surface_mesh" />
            <remap from="~replace_surface" to="surface_builder/updated_surface" />
            <remap from="~replace_surface_mesh" to="surface_builder/updated_surface_mesh" />

            <!-- Params -->
            <param name="new_scene_threshold" value="0.8" />
            <param name="max_queue_size" value="1000" />
        </node>

        <!-- Crop -->
        <node pkg="nodelet" type="nodelet" name="crop" args="load pcl/CropBox nodelet_manager">
            <!-- Topics -->
            <remap from="~input" to="$(arg topic_name)" />

            <!-- Params -->
            <remap from="~min_x" to="crop_box_min/x" />
            <remap from="~min_y" to="crop_box_min/y" />
            <remap from="~min_z" to="crop_box_min/z" />
            <remap from="~max_x" to="crop_box_max/x" />
            <remap from="~max_y" to="crop_box_max/y" />
            <remap from="~max_z" to="crop_box_max/z" />
        </node>

        <!-- Downsample -->
        <node pkg="nodelet" type="nodelet" name="downsample" args="load pcl/VoxelGrid nodelet_manager">
            <!-- Topics -->
            <remap from="~input" to="crop/output" />

            <!-- Params -->
            <remap from="~leaf_size" to="downsample_resolution" />
            <param name="filter_field_name" value="" />

            <!-- input_frame transforms the cloud into the frame before the filter -->
            <remap from="~input_frame" to="target_frame" />
            <!-- output_frame tells the nodelet to not re-transform the cloud into the original frame -->
            <remap from="~output_frame" to="target_frame" />
        </node>

        <!-- Change Detection (does NOT perform downsampling) -->
        <node pkg="nodelet" type="nodelet" name="change_detect" args="load surface_filters/ChangeDetection nodelet_manager">
            <!-- Topics -->
            <remap from="~input" to="downsample/output" />

            <remap from="~output" to="new_points_indexed" />
            <remap from="~new_scene" to="new_points_unindexed" />

            <!-- Params -->
            <remap from="~resolution" to="downsample_resolution" />
        </node>

        <!-- Accumulates unaccounted-for points -->
        <node pkg="nodelet" type="nodelet" name="point_accumulator" args="load surface_filters/FreePointAccumulation nodelet_manager">
            <!-- Topics -->
            <remap from="~unindexed_input" to="new_points_unindexed" />
            <remap from="~indexed_input" to="new_points_indexed" />
            <remap from="~indices" to="new_points_indices" />
            <remap from="~found_inliers" to="found_inliers" />
            <remap from="~surfaces" to="surface_manager/surfaces" />
        </node>

        <!-- Full-Scene Pipeline -->
        <include file="$(find surface_extraction_launch)/launch/extract_surfaces_full.launch">
            <arg name="input_topic" value="point_accumulator/accumulated_points" />
            <arg name="surfaces_manager_node" value="surface_manager" />
            <arg name="point_accumulator_node" value="point_accumulator" />
        </include>

        <!-- Partial-Scene Pipeline -->
        <include file="$(find surface_extraction_launch)/launch/extract_surfaces_partial.launch">
            <arg name="input_topic" value="new_points_indexed" />
            <arg name="new_indices" value="change_detect/new_indices" />
            <arg name="surfaces_manager_node" value="surface_manager" />
            <arg name="point_accumulator_node" value="point_accumulator" />
        </include>

    </group>
</launch>
